<div class="container">
    <div class="background-img">
        <img src="{{backdrop}}" alt="teste">
    </div>
    <div class="wrap">
        <div class="poster">
            <img src="{{poster}}" alt="">
        </div>
        <div class="inform">
            <div class="wrapper">
                <h1>{{title}}</h1>
                <div class="extra">
                    <img src="star.svg" alt="star">
                    <h2>{{rate}}</h2>
                    <img src="timer.svg" alt="timer">
                    <h2>{{runtime}} minutos</h2>
                    <img src="calendar.svg" alt="">
                    <h2>{{release}}</h2>
                </div>
            </div>
            <div class="wrapper">
                <h1 class="text">Sinopse</h1>
                <p>
                    {{overview}}
                </p>
            </div>
            <div class="genre">
                @for (item of genres; track $index) {
                <p>{{item}}</p>
                }
            </div>
        </div>
    </div>
</div>